MYSQL_DATABASE=invernadero_iot
MYSQL_USER=invernadero_user
MYSQL_PASSWORD=invernadero_pass
MYSQL_ROOT_PASSWORD=root_pass

DB_HOST=db
DB_NAME=invernadero_iot
DB_USER=invernadero_user
DB_PASSWORD=invernadero_pass
